body{
    font-family: 'Verdana', sans-serif;
    width:100%;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li:first-child{
    float: left;
    color: white;
    text-align: center;
    margin-left: 2%;
    margin-right: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

li{
    float: left;
    margin-right: 1%;
}

li:last-child{
    margin-right: 0;
    padding-right: 10px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 30px;
    padding-right: 20px;
    text-decoration: none;
}

li a:hover{
    background-color: #4CAF50;
}

.active{
    background-color: #4CAF50;
}

.footer__titel{
    font-size: 20px;
    margin-bottom: 40px;
}

.contact{
    float: left;
    color: white;
    width: 60%;
    background-color: #000;
    padding-left: 15%;
    height: 282px;
}

.contact_gegevens{
    float: left;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin-right: 10%;
    margin-top: 20px;
}

.contact_gegevens p{
    padding: 0;
    margin: 0;
}

.contact_gegevens__telefoon, .contact_gegevens__email, .contact_gegevens__naarboven{
    margin-top: 10px;
}
.contact_gegevens__telefoon img{
    float: left;
}

.contact_gegevens__telefoon p{
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

.contact_gegevens__email img{
    float: left;
}

.contact_gegevens__email p{
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

.contact_gegevens__naarboven img{
    float: left;
}

.contact_gegevens__naarboven a{
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    text-decoration: underline;
    color: white;
}

.contact_form{
    float: left;
    margin-top: 20px;
}

.form__naam input{
    width: 300px;
}

.form__email{
    padding-top: 10px;
}

.form__email input{
    width: 300px;
}

.form__text{
    padding-top: 10px;
}

.form__text textarea{
    width: 300px;
}

.form__submit{
    padding-top: 20px;
}

.form__submit input{
    width: 300px;
    height: 50px;
}

#knop_inloggen{
    height: 50px;
}

.sitemap{
    float: left;
    color: white;
    background-color: #000;
    width: 15%;
    padding-top: 20px;
    padding-right: 10%;
    height: 262px;
}

.sitemap p{
    padding: 0;
    margin: 0;
}

.sitemap a{
    color: white;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

.copyright{
    margin-top: 100px;
}

.background__inloggen{
    position: relative;
    margin: 0;
    padding: 0;
}

.box__inloggen{
    position: absolute;
    top: 250px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 306px;
    background-color: lightgrey;
    border-radius: 10px;
}

.inloggen_form{
    display: flex;
    flex-flow: column;
    font-size: 20px;
}

.inloggen_form__email{
    padding-left: 5%;
    width: 90%;
    padding-right: 5%;
    padding-top: 20px;
}

.inloggen_form__email label{
    display: block;
}

.inloggen_form__email input{
    width: 100%;
    height: 20px;
}

.inloggen_form__wachtwoord{
    padding-left: 5%;
    width: 90%;
    padding-right: 5%;
    padding-top: 10px;
}

.inloggen_form__wachtwoord label{
    display: block;
}

.inloggen_form__wachtwoord input{
    width: 100%;
    height: 20px;
}

.inloggen_checkbox_ingelogdblijven{
    padding-top: 10px;
    padding-left: 5%;
}

.inloggen_checkbox_ingelogdblijven input{
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}

.inloggen_checkbox_ingelogdblijven label{
    float: left;
}

.inloggen_form a{
    margin-left: 5%;
    padding-top: 10px;
    color: black;
    text-decoration: underline;
}

.inloggen_form__submit{
    margin-top: 20px;
}


.inloggen_form__submit input{
    margin-left: 5%;
    width: 40%;
    height: 20px;
    padding: 20px 40px;
}

.sluit_box{
    width: 30px;
    height: 30px;
    background-color: darkgray;
    color: black;
    float: right;
    margin-top: 10px;
    margin-right: 5%;
    border-radius: 5px;
}

.sluit_box p{
    margin: 0;
    font-size: 20px;
    padding-top: 2px;
    padding-left: 7px;
}

.box__registreren h1{
    font-size: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
}

.box__nieuwwachtwoord h1{
    font-size: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
}

.registreren_form{
    float: left;
    margin-left: 5%;
    font-size: 20px;
    width: 90%;
}

.registreren_form__email{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

.registreren_form__email input{
    margin-top: 5px;
    height: 20px;
}

.registreren_form__wachtwoord{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

.registreren_form__wachtwoord input{
    margin-top: 5px;
    height: 20px;
}

.registreren_form__serienummer{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

.registreren_form__serienummer input{
    margin-top: 5px;
    height: 20px;
}

.registreren_form__serienummer__label a img{
    margin: 0;
    position: relative;
    top: 4px;
    padding-left: 15px;
}

.registreren_form__submit{
    margin-top: 10px;
}

.registreren_form__submit input{
    width: 100%;
    height: 20px;
}

.box__registreren{
    position: absolute;
    top: 200px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 360px;
    background-color: lightgrey;
    border-radius: 10px;
}

.box__nieuwwachtwoord{
    position: absolute;
    top: 285px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    height: 235px;
    background-color: #9a9a9a;
    border-radius: 10px;
}

.nieuwwachtwoord_form{
    float: left;
    margin-left: 5%;
    font-size: 20px;
    width: 90%;
}

.box__nieuwwachtwoord p{
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.nieuwwachtwoord_form__email{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

.nieuwwachtwoord_form__email input{
    margin-top: 5px;
    height: 20px;
}

.nieuwwachtwoord_form__submit{
    margin-top: 10px;
}

.nieuwwachtwoord_form__submit input{
    width: 100%;
    height: 20px;
}

.nav_informatie{
    margin-top: 30px;
    margin-bottom: 10px;
}

.nav_informatie ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    margin-left: 35%;
}

.nav_informatie li{
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: #3c3c3c;
    width: 15%;
}

.nav_informatie a{
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    padding-top: 16.5px;
    height: 50px;
}

.go_back {
    background-color: #3c3c3c;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    top: 30px;
    left: 2%;
}

.go_back p{
    font-size: 30px;
    color: white;
    margin: 0;
    padding-top: 6px;
    padding-left: 10px;
}

.informatie_wat {
    padding: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
}

.informatie_wat img{
    float: left;
}

.wat{
    display: flex;
    flex-flow: column;
    margin-left: 50%;
}

.wat h1{
    margin: 0;
    padding: 0;
}

.wat p{
    display: block;
    margin: 2px;
}

.informatie_lijn p {
    float: left;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    margin-left: 20%;
}

.informatie_richtlijnen{
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.informatie_richtlijnen table{
    width: 100%;
    background-color: lightgrey;
    border-radius: 5px;
    margin-bottom: 30px;
}

.informatie_richtlijnen table:last-child{
    margin-bottom: 10px;
}

.border-right{
    border-right: 1px solid black;
    width: 130px;
}

.border-bottom{
    border-bottom: 1px solid black;
}

.informatie_richtlijnen td{
    padding: 5px;
}

.tips{
    float: left;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.tips_tip{
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.tips_titel{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.tips_titel p{
    text-align: center;
    margin-top: 10px;
}

.nav_dashboard{
    margin-top: 30px;
    margin-bottom: 10px;
}

.nav_dashboard ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    margin-left: 29%;
}

.nav_dashboard li{
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: #3c3c3c;
    width: 15%;
}

.nav_dashboard a{
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    padding-top: 16.5px;
    height: 50px;
}

.waarden{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    float: left;
    height: 353px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.actuele_waarden{
    float: left;
    width: 35%;
    height: 353px;
    border-radius: 300px;
    background-color: lightgrey;
}

.actuele_waarden p{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 150px;
}

.beoordeling_waarden{
    margin: 0;
    float: left;
    margin-left: 10%;
    width: 55%;
}

.beoordeling_waarden p{
    margin: 0;
}

.btn_meerinfo{
    width: 60%;
    height: 40px;
    background-color: lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn_meerinfo p{
    float: left;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 20px;
}

.btn_meerinfo img{
    float: right;
    padding-right: 20px;
    padding-top: 11px;
}
.btn_metingsinterval{
    width: 60%;
    height: 40px;
    background-color: lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn_metingsinterval p{
    float: left;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 20px;
}

.btn_metingsinterval img{
    float: right;
    padding-right: 20px;
    padding-top: 11px;
}

.grafiek{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    float: left;
    height: 225px;
    margin-top: 40px;
}

.nav_grafiek{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    float: left;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.nav_grafiek ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.nav_grafiek li{
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: #3c3c3c;
    width: 25%;
}

.nav_grafiek a{
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    padding-top: 16.5px;
    height: 50px;
}

.grafiek_gemiddelde{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 50px;
    float: left;
    background-color: lightgrey;
}

.grafiek_gemiddelde p{
    padding-left: 10px;
}

.grafiek_tijdstip{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 50px;
    float: right;
    background-color: lightgrey;
}

.grafiek_tijdstip p{
    float: right;
    padding-right: 10px;
}

.grafiek_links{
    clear: both;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 190px;
    background-color: lightgrey;
}

.grafiek_links p{
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-top: 12px;
}

.grafiek_rechts{
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 190px;
    background-color: lightgrey;
}

.grafiek_rechts p{
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-top: 12px;
}

.inloggen_verkeerd{
    margin-top: 95px;
    position: absolute;
    top: 250px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 111px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: white;
}

.inloggen_verkeerd_ok{
    margin-left: 10px;
    width: 60px;
    height: 40px;
    background-color: lightgrey;
    border-radius: 5px;
}

.inloggen_verkeerd h1{
    font-size: 14px;
    padding-left: 10px;
}

.inloggen_verkeerd_ok a{
    text-decoration: none;
}
.inloggen_verkeerd_ok p{
    text-align: center;
    padding-top: 10px;
}

.grafiek_grafiek table, th, td{
    border: 1px solid black;
    margin-top: 80px;
}

.grafiek_grafiek table td,th {
    text-align: center;
    padding: 10px;
}

#grafiek_CO2{
    width: 80%;
    height: 400px;
    margin-top: 80px;
}