{% extends 'base.html' %}

{% block title %}
Dashboard Luchtvochtigheid
{% endblock %}

{% block dashboard %}
class="active"
{% endblock %}

{% block body %}
    <div class="nav_dashboard">
        <ul>
            <li><a href="{{ url_for("dashboard_CO2") }}">CO2</a></li>
            <li><a href="{{ url_for("dashboard_temperatuur") }}">Temperatuur</a></li>
            <li><a href="{{ url_for("dashboard_luchtvochtigheid") }}">Vochtigheids-%</a></li>
            <li><a href="{{ url_for("dashboard_comfortniveau") }}">Comfortniveau</a></li>
        </ul>
    </div>
    <div class="waarden">
        <div class="actuele_waarden">
            <p>{{ waarde }} %</p>
        </div>
        <div class="beoordeling_waarden">
            {% if waarde < 50 %}
                <p>De luchtvochtigheid bedraagt {{ waarde }} %. Dit is een lage luchtvochtigheid.</p>
            {% endif %}
            {% if waarde >= 50 and waarde <= 60%}
                <p>De luchtvochtigheid bedraagt {{ waarde }} %. Dit is een matige luchtvochtigheid.</p>
            {% endif %}
            {% if waarde > 60%}
                <p>De luchtvochtigheid bedraagt {{ waarde }} %. Dit is een hoge luchtvochtigheid.</p>
            {% endif %}
            <a href="{{ url_for("informatie_comfortniveau") }}">
                <div class="btn_meerinfo">
                    <p>Meer informatie</p>
                    <img src="{{ url_for('static', filename='images/pijl_rechts.png') }}" alt="" width="20px" height="20px">
                </div>
            </a>
            <p>Metingsinterval: {{ metingsinterval }} (s)</p>
            <a href="{{ url_for("dashboard_CO2_tijdsinterval") }}">
                <div class="btn_metingsinterval">
                    <p>Wijzig metingsinterval</p>
                    <img src="{{ url_for('static', filename='images/pijl_rechts.png') }}" alt="" width="20px" height="20px">
                </div>
            </a>
        </div>
        <div class="metingsinterval_CO2">
            <div class="metingsinterval_hoofd">
                <h1>Wijziging metingsinterval</h1>
                <a href="{{ url_for("dashboard_luchtvochtigheid") }}"><div id="sluit_metingsinterval"><p>X</p></div></a>
            </div>
            <div class="metingsinterval_basis">
                <p>Huidig ({{ metingsinterval }})</p>
                <img src="{{ url_for('static', filename='images/pijl_rechts_png.png') }}" alt="" width="20px" height="20px">
                <div class="form_metingsinterval">
                    <form action="{{ url_for('metingsinterval_wijzigen_luchtvochtigheid') }}" method="post">
                        <input title="CO2_metingsinterval" type="text" name="luchtvochtigheid">
                        <input type="submit" value="Wijzig" id="btn_wijzig">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}