{% extends 'base.html' %}

{% block title %}
Dashboard CO2
{% endblock %}

{% block dashboard %}
class="active"
{% endblock %}

{% block body %}
    <div class="nav_dashboard">
        <ul>
            <li><a href="{{ url_for("dashboard_CO2") }}">CO2</a></li>
            <li><a href="{{ url_for("dashboard_temperatuur") }}">Temperatuur</a></li>
            <li><a href="{{ url_for("dashboard_luchtvochtigheid") }}">Vochtigheids-%</a></li>
            <li><a href="{{ url_for("dashboard_comfortniveau") }}">Comfortniveau</a></li>
        </ul>
    </div>
    <div class="waarden">
        <div class="actuele_waarden">
            <p>{{ waarde }} ppm</p>
        </div>
        <div class="beoordeling_waarden">
            <p>De CO2 waarde is {{ waarde }} ppm.</p>
            {% if waarde  <= 450 %}
                <p>Dit is uitstekend. Probeer deze waarde zo te houden door de ramen open te zetten.</p>
            {% endif %}
            {% if waarde > 450 and waarde < 700%}
                <p>Dit is een goed CO2-niveau. Zorg ervoor dat het CO2-niveau niet meer stijgt. Ventileer voldoende.</p>
            {% endif %}
            {% if waarde > 700 %}
                <p>Dit is een matig tot slecht CO2-niveau. Zet de ramen open, zorg voor voldoende platen in huis.</p>
            {% endif %}
            <a href="{{ url_for("informatie_CO2") }}">
                <div class="btn_meerinfo">
                    <p>Meer informatie</p>
                    <img src="{{ url_for('static', filename='images/pijl_rechts.png') }}" alt="" width="20px" height="20px">
                </div>
            </a>
            <p>Metingsinterval: {{ metingsinterval|string }} (s)</p>
            <a href="{{ url_for("dashboard_CO2_tijdsinterval") }}">
                <div class="btn_metingsinterval">
                    <p>Wijzig metingsinterval</p>
                    <img src="{{ url_for('static', filename='images/pijl_rechts.png') }}" alt="" width="20px" height="20px">
                </div>
            </a>
        </div>
        <div class="metingsinterval_CO2">
            <div class="metingsinterval_hoofd">
                <h1>Wijziging metingsinterval</h1>
                <a href="{{ url_for("dashboard_CO2") }}"><div id="sluit_metingsinterval"><p>X</p></div></a>
            </div>
            <div class="metingsinterval_basis">
                <p>Huidig ({{ metingsinterval|string }})</p>
                <img src="{{ url_for('static', filename='images/pijl_rechts_png.png') }}" alt="" width="20px" height="20px">
                <div class="form_metingsinterval">
                    <form action="{{ url_for('metingsinterval_wijzigen_CO2') }}" method="post">
                        <input title="CO2_metingsinterval" type="text" name="CO2">
                        <input type="submit" value="Wijzig" id="btn_wijzig">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}