{% extends 'base.html' %}

{% block title %}
Dashboard Temperatuur
{% endblock %}

{% block dashboard %}
class="active"
{% endblock %}

{% block body %}
    <div class="nav_dashboard">
        <ul>
            <li><a href="{{ url_for("dashboard_CO2") }}">CO2</a></li>
            <li><a href="{{ url_for("dashboard_temperatuur") }}">Temperatuur</a></li>
            <li><a href="{{ url_for("dashboard_luchtvochtigheid") }}">Vochtigheids-%</a></li>
            <li><a href="{{ url_for("dashboard_comfortniveau") }}">Comfortniveau</a></li>
        </ul>
    </div>
    <div class="waarden">
        <div class="actuele_waarden">
            <p>{{ waarde }} °C</p>
        </div>
        <div class="beoordeling_waarden">
            {% if waarde <= 19 %}
                <p>De temperatuur is {{ waarde }} °C. Dit wordt voor de meeste mensen beschouwd als een te koude temperatuur.</p>
            {% endif %}
            {% if waarde > 19 and waarde < 21 %}
                <p>De temperatuur is {{ waarde }} °C. Dit wordt door de meeste mensen beschouwd als een aangename temperatuur.</p>
            {% endif %}
            {% if waarde >= 21 and waarde < 23 %}
                <p>De temperatuur is {{ waarde }} °C. Dit wordt door de meeste mensen beschouwd als een redelijke temperatuur.</p>
            {% endif %}
            {% if waarde >= 23 %}
                <p>De temperatuur is {{ waarde }} °C. Dit wordt door de meeste mensen beschouwd als een onaangename temperatuur. Het is te warm.</p>
            {% endif %}
            <a href="{{ url_for("informatie_comfortniveau") }}">
                <div class="btn_meerinfo">
                    <p>Meer informatie</p>
                    <img src="{{ url_for('static', filename='images/pijl_rechts.png') }}" alt="" width="20px" height="20px">
                </div>
            </a>
            <p>Metingsinterval: 60 (s)</p>
            <a href="">
                <div class="btn_metingsinterval">
                    <p>Wijzig metingsinterval</p>
                    <img src="{{ url_for('static', filename='images/pijl_rechts.png') }}" alt="" width="20px" height="20px">
                </div>
            </a>
        </div>
    </div>
{% endblock %}