{% extends 'base.html' %}

{% block title %}
Grafiek Vochtigheidspercentage
{% endblock %}

{% block grafiek %}
class="active"
{% endblock %}

{% block body %}
    <div class="nav_dashboard">
        <ul>
            <li><a href="{{ url_for("grafiek_CO2") }}">CO2</a></li>
            <li><a href="{{ url_for("grafiek_Temperatuur") }}">Temperatuur</a></li>
            <li><a href="{{ url_for("grafiek_luchtvochtigheid") }}">Vochtigheids-%</a></li>
            <li><a href="{{ url_for("grafiek_comfortniveau") }}">Comfortniveau</a></li>
        </ul>
    </div>
    <div class="grafiek">
        <div class="grafiek_gemiddelde">
            <p>Gemiddelde: {{ gem|int }}</p>
        </div>
        <div class="grafiek_tijdstip">
            <p>{{ tijdstip }}</p>
        </div>
{#        <div class="grafiek_links">#}
{#            <p><</p>#}
{#        </div>#}
{#        <div class="grafiek_rechts">#}
{#            <p>></p>#}
{#        </div>#}
        <div class="grafiek_grafiek">
{#            <div id="grafiek_CO2" style="width: 80%; height: 400px;"></div>#}
            <div id="curve_chart" style="width: 80%; height: 500px"></div>

            <table>
                <tr>

                {% for waarde in lijst_waarden %}
                    <th>{{ waarde[1] }}</th>
                {% endfor %}
                </tr>
                <tr>
                {% for waarde in lijst_waarden %}
                    <td>{{ waarde[0] }}</td>
                {% endfor %}

                </tr>
            </table>

        </div>
    </div>
    <div class="nav_grafiek">
        <ul>
            <li><a href="">Per minuut</a></li>
            <li><a href="">Per uur</a></li>
            <li><a href="">Per dag</a></li>
            <li><a href="">Wekelijks</a></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Comfortniveau'],
                ['{{ dates[0]|string }}',  {{ Comfortniveau[0] }}],
                ['{{ dates[1]|string }}',  {{ Comfortniveau[1] }}],
                ['{{ dates[2]|string }}',  {{ Comfortniveau[2] }}],
                ['{{ dates[3]|string }}',  {{ Comfortniveau[3] }}],
                ['{{ dates[4]|string }}',  {{ Comfortniveau[4] }}]
            ]);

            var options = {
                title: 'Comfortniveau-values',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}