{% extends 'base.html' %}

{% block title %}
Informatie C02
{% endblock %}

{% block informatie %}
class="active"
{% endblock %}

{% block body %}
    <div class="go_back"><p><</p></div>
    <div class="nav_informatie">
        <ul>
            <li><a href="{{ url_for("informatie_CO2") }}">CO2</a></li>
            <li><a href="{{ url_for("informatie_comfortniveau") }}">Comfortniveau</a></li>
        </ul>
    </div>

    <div class="informatie_wat">
        <img src="{{ url_for('static', filename='images/comfortniveau.png') }}" alt="" width="400px" height="400px">
        <div class="wat">
            <h1>Wat is het comfortniveau?</h1>
            <p>Het comfortniveau wordt bepaald door een combinatie van temperatuur en luchtvochtigheid.</p>
            <p>Het comfortniveau wordt als volgt gecalculeerd:</p>
            <p>Comfortniveau = 9/5 * T - 0.55 * (1-RL) * (9/5 * T - 26) + 32</p>
            <p>(T: Temperatuur (°C), RL: Relatieve Luchtvochtigheid (%))</p>
            <p>Ongeveer 10% ervaren het comfortniveau als onaangenaam als de waarde tussen de 68 en 74 is, 50% als de waarde tussen 75 en 79 is en bijna iedereen ervaart het comfortniveau als onaangenaam als de waarde hoger dan  80% is.</p>
        </div>
    </div>
    <div class="informatie_lijn">
        <p>------------------------------------------------------------------------------------------------------------------</p>
    </div>
    <div class="informatie_richtlijnen">
        <table>
            <tr><td class="border-right"><img src="{{ url_for('static', filename='images/comfortniveau_icon.png') }}" alt="" width="47px" height="30px"></td><td class="border-bottom">~ 67</td></tr>
            <tr><td class="border-right">Perfect</td><td>Ervaart niemand als onaangenaam.</td></tr>
        </table>

        <table>
            <tr><td class="border-right"><img src="{{ url_for('static', filename='images/comfortniveau_icon.png') }}" alt="" width="47px" height="30px"></td><td class="border-bottom">68 ~ 74</td></tr>
            <tr><td class="border-right">Goed</td><td>Minder dan de helft van de populatie ervaart het comfortniveau als onaangenaam.</td></tr>
        </table>

        <table>
            <tr><td class="border-right"><img src="{{ url_for('static', filename='images/comfortniveau_icon.png') }}" alt="" width="47px" height="30px"></td><td class="border-bottom">75 ~ 79</td></tr>
            <tr><td class="border-right">Redelijk</td><td>Ongeveer de helft van de populatie ervaart het comfortniveau als onaangenaam.</td></tr>
        </table>

        <table>
            <tr><td class="border-right"><img src="{{ url_for('static', filename='images/comfortniveau_icon.png') }}" alt="" width="47px" height="30px"></td><td class="border-bottom">80 ~ 84</td></tr>
            <tr><td class="border-right">Ergelijk</td><td>De meesten ervaren het comfortniveau als onaangenaam.</td></tr>
        </table>

        <table>
            <tr><td class="border-right"><img src="{{ url_for('static', filename='images/comfortniveau_icon.png') }}" alt="" width="47px" height="30px"></td><td class="border-bottom">85 ~</td></tr>
            <tr><td class="border-right">Slecht</td><td>Onaangenaam voor iedereen.</td></tr>
        </table>
    </div>
    <div class="informatie_lijn">
        <p>------------------------------------------------------------------------------------------------------------------</p>
    </div>
        <div class="tips">
        <h1>Tips</h1>
        <div class="tips_tip">
            <div class="tips_titel"><p>Fruit en water</p></div>
            <p>Door water te drinken en fruit te eten houdt u de vochtbalans van uw lichaam op peil.</p>
        </div>
        <div class="tips_tip">
            <div class="tips_titel"><p>Air Conditioning</p></div>
            <p>Naast een koelende heeft een airconditioner tevens een ontvochtigende werking die de gevoelstemperatuur doet dalen, laat het echter niet te koud of droog worden, dit is naast onaangenaam tevens op termijn schadelijk voor de gezondheid.</p>
        </div>
        <div class="tips_tip">
            <div class="tips_titel"><p>Verwarming</p></div>
            <p>Het verwarmen van een ruimte zorgt er tevens voor dat de luchtvochtigheid daalt, door ook te ventileren voorkomt u dat de temperatuur te ver oploopt.</p>
        </div>
        <div class="tips_tip">
            <div class="tips_titel"><p>Luchtkoeler</p></div>
            <p>Een luchtkoeler verdampt water wat een koelende werking heeft, zonder de lucht te drogen, bij inzet van een luchtkoeler is het wel zaak te ventileren om de luchtvochtigheid niet te ver te doen stijgen.</p>
        </div>
        <div class="tips_tip">
            <div class="tips_titel"><p>Ontvochtiger</p></div>
            <p>Een ontvochtiger is in staat liters water per dag uit de lucht te halen, en is hiermee een effectief instrument om het comfortniveau binnenshuis te optimaliseren.</p>
        </div>
    </div>
{% endblock %}

